.game-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 15vw;
  background-color: transparent;
  font-family: 'Segoe UI', sans-serif;
  z-index: 10;
}

.header-left,
.header-right {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.header-left {
  align-items: flex-start;
}

.header-right {
  align-items: flex-end;
}

.round-label,
.invite-label {
  font-size: 25px;
  font-weight: 500;
}

.invite-code {
  font-size: 30px;
  font-weight: bold;
  background-color: #e0e0e0; /* light grey */
  padding: 0px 8px;
  border-radius: 6px;
  font-family: monospace;
  color: black;
}

.timer {
    font-size: 45px;
    font-weight: bold;
}

.header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.invite-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.invite-label {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.invite-code {
  font-size: 30px;
  font-weight: 500;
  color: black;
  font-weight: bold;
}

.timer-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.timer-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.invite-code-wrapper {
  display: flex;
  align-items: center;
  gap: 6px; /* spacing between code and icon */
  font-size: 30px;
  font-weight: bold;
  background-color: #e0e0e0; /* light grey */
  padding: 0px 8px;
  border-radius: 6px;
  font-family: monospace;
  color: black;
}


.copy-and-paste-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.copy-and-paste-icon:hover {
  opacity: 0.7;
}
