.choose-song-container {
  flex: 0.75;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: -50px;
}

.song-icon {
  position: relative;
  width: 250px;       /* same size as the circle */
  height: 250px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.song-icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  z-index: 0;
}

/* Image on top, centered */
.song-icon img {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: relative;
}

.answer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.answer-btn {
  padding: 20px 25px;       /* More space inside the button */
  font-size: 18px;          /* Larger text */
  min-height: 60px;         /* Taller buttons */
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s;
}


.answer-btn:hover {
  background-color: #ddd;
}

.answer-btn.selected {
  background-color: #4CAF50;
  color: white;
}
